* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: transparent;
  font-family: Aileron, Arial, Roboto, Verdana;

  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;

  flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;

  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

  justify-content: space-around;
  -ms-justify-content: space-around;
  -moz-justify-content: space-around;
  -webkit-justify-content: space-around;
}

/* Custom fonts */
@font-face {
  font-family: "Aileron";
  src: url("/643622/fonts/aileron/Aileron-SemiBold.otf");
  src: url("/643622/fonts/aileron/Aileron-SemiBold.eot");
}

@font-face {
  font-family: "Roboto";
  src: url("/643622/fonts/roboto/Roboto-Regular.ttf");
}

/* Browser Support */
header, section, footer, aside, nav, main, article, figure {
  display: block;
}

/* Background video */
#bgVideo {
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
}

/* Header */
#header {
  color: #FFFFFF;
  text-align: center;
  background: transparent;

  flex-basis: 100%;
  -ms-flex-basis: 100%;
  -moz-flex-basis: 100%;
  -webkit-flex-basis: 100%;
}

#logo {
  width: 2em;
  vertical-align: middle;
}

#header h1 {
  font-size: 3em;
  margin-bottom: 1%;
}

#header h2 {
  margin-top: 0;
  font-size: 1.5em;
}

/* Navigation Bar */
nav {
  background-color: #2699FB;

  flex-basis: 100%;
  -ms-flex-basis: 100%;
  -moz-flex-basis: 100%;
  -webkit-flex-basis: 100%;
}

nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

nav a, #menu-icon {
  color: #FFFFFF;
  font-size: 1em;
  text-align: center;
  padding: .9em 1.2em;
  text-decoration: none;
  display: inline-block;
}

nav a:hover, #menu-icon:hover {
  background-color: #1e7ac9;
}

#menu-checkbox, #menu-icon {
  float: right;
  display: none;
  cursor: pointer;
  padding: .9em 1.2em;
  margin-bottom: -4px;
  background: #2699FB;
}

#menu-icon img {
  margin: 0;
}

/* Left column */
main {
  flex-basis: 63%;
  -ms-flex-basis: 63%;
  -moz-flex-basis: 63%;
  -webkit-flex-basis: 63%;

  padding-top: 2em;
}

/* Right column */
#sidebar {
  flex-basis: 33%;
  -ms-flex-basis: 33%;
  -moz-flex-basis: 33%;
  -webkit-flex-basis: 33%;

  padding-top: 2em;
}

main > section, #sidebar > section {
  flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  -webkit-flex: 1;

  padding: 1em;
  margin-bottom: 2em;
  border-radius: 1em;
  background-color: #F5F5F5;
}

section > header > h2 {
  font-size: 1.5em;
  text-align: center;
}

section a {
  color: #2699FB;
}

section a:hover {
  color: #004f94;
  text-decoration: none;
}

section footer {
  color: #000000;
  text-align: left;
  background: transparent;
  border-top: .1em solid #000000;
}

article p {
  user-select: text;
  -ms-user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
}

article img {
  min-width: 100%;
  max-width: 100%;
}

/* Fake image, just for this example */
.fakeimg {
  width: 100%;
  padding: 20px;
  background-color: #707070;
}

/* Contact form */
.wrapper {
  padding: 0;
}

.form-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;

  justify-content: space-around;
  -ms-justify-content: space-around;
  -moz-justify-content: space-around;
  -webkit-justify-content: space-around;

  padding: .5em;
}

.form-row > label {
  flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  -webkit-flex: 1;

  padding: .5em 1em .5em 0;
}

.form-row > input, .form-row > textarea {
  flex: 2;
  -ms-flex: 2;
  -moz-flex: 2;
  -webkit-flex: 2;

  padding: .5em;
}

.form-row > textarea {
  height: 10em;
}

.form-row > input[type=submit] {
 background: #2699FB;
 border-radius: 1em;
 color: #FFFFFF;
 padding: 1em;
 border: 0;
}

.form-row > input[type=submit]:hover {
  cursor: pointer;
  background: #1e7ac9;
}

/* Footer */
footer {
  padding: 1em;
  color: #FFFFFF;
  text-align: center;
  background: #000000;

  flex-basis: 100%;
  -ms-flex-basis: 100%;
  -moz-flex-basis: 100%;
  -webkit-flex-basis: 100%;
}

footer a {
  color: #FFFFFF;
}

footer a:hover {
  color: #AAAAAA;
  text-decoration: none;
}

/* Cookie message */
#cookie-msg {
  padding: .25em 1em .25em 1em;
  background: #444444;
  display: block;
  color: white;
  z-index: 100;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

#cookie-msg h3 {
  margin-top: .5%;
  margin-bottom: -1%;
}

#cookie-msg p {
  display: inline-block;
}

#cookie-msg label {
  float: right;
  margin-top: .5em;
  font-weight: bold;
  border-radius: 1em;
  text-align: center;
  background: #2699FB;
  padding: .5em 2em .5em 2em;
}

#cookie-msg label:hover {
  background: #1e7ac9;
  cursor: pointer;
}

#close-btn {
  display: none;
}

#close-btn:checked ~ #cookie-msg {
  display: none;
}

/* Responsive header */
@media screen and (max-width: 830px) {
  #header h1 {
    font-size: 2.5em;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 680px) {
  #header h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 550px) {
  #logo {
    display: block;
    margin-left: 50%;
    margin-bottom: 5%;
    transform: translate(-50%, 0);
  }
}

@media screen and (max-width: 465px) {
  #header h1 {
    font-size: 1.5em;
  }
  #header h2 {
    font-size: 1em;
  }
}

@media screen and (max-width: 360px) {
  #header h1 {
    font-size: 1em;
  }
  #header h2 {
    font-size: .5em;
  }
}

/* Responsive menu */
@media screen and (max-width: 805px) {
  nav ul li, nav a {
    width: 100%;
  }
  .menu-item {
    display: none;
  }
  #menu-icon {
    display: block;
  }
  #menu-checkbox:checked ~ ul .menu-item {
    display: block;
  }
}

/* Responsive layout */
@media screen and (max-width: 1040px) {
  body {
    flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
  }
  main, #sidebar {
    padding: 1em 2% 0 2%;
  }
  #sidebar {
    padding-top: 0;
  }
  main > section, #sidebar > section {
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 1040px) and (-ms-high-contrast: none), (max-width: 1040px) and (-ms-high-contrast: active) {
  body {
    display: block;
  }
}

/* Responsive contact form */
@media screen and (min-width: 1040px) and (max-width: 1440px) {
  .form-row {
    flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
  }
  .form-row > textarea {
    resize: vertical;

    flex: none;
    -ms-flex: none;
    -moz-flex: none;
    -webkit-flex: none;
  }
  .form-row label, .form-row input {
    -ms-flex: none;
  }
}
@media screen and (max-width: 506px) {
  .form-row {
    flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
  }
  .form-row > textarea {
    resize: vertical;

    flex: none;
    -ms-flex: none;
    -moz-flex: none;
    -webkit-flex: none;
  }
  .form-row label, .form-row input {
    -ms-flex: none;
  }
}

/* Responsive cookie message */
@media screen and (max-width: 720px) {
  #cookie-msg label {
    width: 100%;
    display: block;
    margin-bottom: .5em;
  }
}
