* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: arial;
  background-color: transparent;
}

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

/* Header */
#header {
  color: #FFFFFF;
  text-align: center;
  background: transparent;
}

#logo {
  width: 2em;
  vertical-align: middle;
}

#header h1 {
  font-size: 3em;
  margin-bottom: 1%;
}

#header h2 {
  margin-top: 0;
}

/* Navigation Bar */
nav {
  background-color: #2699FB;
}

nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav a, #menu-icon {
  color: #FFFFFF;
  display: inline-block;
  padding: .9em 1.2em;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
}

nav a:hover, #menu-icon:hover {
  background-color: #000000;
}

#menu-checkbox, #menu-icon {
  display: none;
  background: #2699FB;
  cursor: pointer;
  float: right;
  padding: .9em 1.2em;
  margin-bottom: -4px;
}

#menu-icon img {
  margin: 0;
}

/* Container */
#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Left column */
main {
  flex-basis: 63%;
  padding-top: 2em;
}

/* Right column */
aside {
  flex-basis: 33%;
  padding-top: 2em;
}

#container section {
  flex: 1;
  background-color: #FFFFFF;
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 1em;
}

section > header > h2 {
  text-align: center;
}

#maincontent img {
  width: 100%;
  max-height: 50em;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #707070;
  width: 100%;
  padding: 20px;
}

/* Contact form */
.wrapper {
  padding: 0;
}

.form-row {
  display: flex;
  justify-content: space-around;
  padding: .5em;
}

.form-row > label {
  padding: .5em 1em .5em 0;
  flex: 1;
}

.form-row > input, .form-row > textarea {
  flex: 2;
  padding: .5em;
}

.form-row > textarea {
  height: 10em;
}

.form-row > input[type=submit] {
 background: #2699FB;
 border-radius: 1em;
 color: #FFFFFF;
 padding: 1em;
 border: 0;
}

.form-row > input[type=submit]:hover {
  cursor: pointer;
  filter: brightness(80%);
}

/* Footer */
footer {
  color: #FFFFFF;
  padding: 1em;
  text-align: center;
  background: #000000;
}

footer a {
  color: #FFFFFF;
}

footer a:hover {
  color: #2699FB;
}

/* Cookie message */
#cookie-msg {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  padding: .25em 1em .25em 1em;
  background: #444444;
  color: white;
  z-index: 100;
}

#cookie-msg h3 {
  margin-top: .5%;
  margin-bottom: -1%;
}

#cookie-msg p {
  display: inline-block;
}

#cookie-msg label {
  background: #2699FB;
  border-radius: 1em;
  padding: .5em 2em .5em 2em;
  float: right;
  text-align: center;
  margin-top: .5em;
  font-weight: bold;
}

#cookie-msg label:hover {
  filter: brightness(80%);
  cursor: pointer;
}

#cookie-msg a {
  color: #2699FB;
}

#cookie-msg a:hover {
  filter: brightness(80%);
}

#close-btn {
  display: none;
}

#close-btn:checked ~ #cookie-msg {
  display: none;
}

/* Responsive header */
@media screen and (max-width: 830px) {
  #header h1 {
    font-size: 2.5em;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 680px) {
  #header h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 550px) {
  #logo {
    display: block;
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 465px) {
  #header h1 {
    font-size: 1.5em;
  }
  #header h2 {
    font-size: 1em;
  }
}

@media screen and (max-width: 360px) {
  #header h1 {
    font-size: 1em;
  }
  #header h2 {
    font-size: .5em;
  }
}

/* Responsive menu */
@media screen and (max-width: 795px) {
  nav ul li, nav a {
    width: 100%;
  }
  .menu-item {
    display: none;
  }
  #menu-icon {
    display: block;
  }
  #menu-checkbox:checked ~ ul .menu-item {
    display: block;
  }
}

/* Responsive layout */
@media screen and (max-width: 1040px) {
  #container {
    flex-direction: column;
  }
  main, aside {
    padding: 1em 2% 0 2%;
  }
  main {
    padding-top: 0;
  }
  #container section {
    margin-bottom: 1em;
  }
}

/* Responsive contact form */
@media screen and (min-width: 1040px) and (max-width: 1420px) {
  .form-row {
    flex-direction: column;
  }
  .form-row > textarea {
    resize: vertical;
    flex: none;
  }
}
@media screen and (max-width: 500px) {
  .form-row {
    flex-direction: column;
  }
  .form-row > textarea {
    resize: vertical;
    flex: none;
  }
}

/* Responsive cookie message */
@media screen and (max-width: 715px) {
  #cookie-msg label {
    width: 100%;
    display: block;
    margin-bottom: .5em;
  }
}
