* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: arial;
  background-color: transparent;
}

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

/* Header */
#header {
  color: #FFFFFF;
  text-align: center;
  background: transparent;
  padding: 5em;
}

#header h1 {
  font-size: 3em;
  margin-bottom: 1%;
}

#header h2 {
  margin-top: 0;
}

/* Navigation Bar */
nav {
  background-color: #2699FB;
}

nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav a {
  color: #FFFFFF;
  display: inline-block;
  padding: .9em 1.2em;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
}

nav a:hover {
  background-color: #000000;
}

/* Container */
#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Left column */
aside {
  flex-basis: 30%;
  padding-top: 2em;
}

/* Right column */
main {
  flex-basis: 60%;
  padding-top: 2em;
}

#container section {
  flex: 1;
  background-color: #FFFFFF;
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 1em;
}

section > header > h2 {
  text-align: center;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #707070;
  width: 100%;
  padding: 20px;
}

/* Contact form */
.wrapper {
  padding: 0;
}

  .form-row {
    display: flex;
    justify-content: space-around;
    padding: .5em;
  }

  .form-row > label {
    padding: .5em 1em .5em 0;
    flex: 1;
  }

  .form-row > input, .form-row > textarea {
    flex: 2;
    padding: .5em;
  }

  .form-row > textarea {
    height: 10em;
  }

  .form-row > input[type=submit] {
   background: #2699FB;
   border-radius: 1em;
   color: #FFFFFF;
   padding: 1em;
   border: 0;
  }

  .form-row > input[type=submit]:hover {
    cursor: pointer;
    filter: brightness(80%);
  }

/* Footer */
footer {
  color: #FFFFFF;
  padding: 1em;
  text-align: center;
  background: #000000;
}

footer a {
  color: #FFFFFF;
}

footer a:hover {
  color: #2699FB;
}

/* Responsive menu */
@media screen and (max-width: 795px) {
  nav ul li, nav a {
    width: 100%;
  }
}

/* Responsive layout */
@media screen and (max-width: 1040px) {
  #container {
    flex-direction: column;
  }
  main, aside {
    padding: 1em 2% 0 2%;
  }
  main {
    padding-top: 0;
  }
  #container section {
    margin-bottom: 1em;
  }
}
